{% extends 'base.html.twig' %}

{% block title %}Run index{% endblock %}

{% block body %}
    <h1>Run index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Start</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for runs in run %}
            <tr>
                <td>{{ runs.id }}</td>
                <td>{{ runs.start ? runs.start|date('H:i:s') : '' }}</td>
                <td>

                    <a href="{{ path('app_scanner', {'id': runs.id}) }}">scanner</a>

                </td>
            </tr>
        {% else %} 
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_run_start') }}">Start</a>

{% endblock %}