{% extends 'base.html.twig' %}

{% block title %}Run index{% endblock %}

{% block body %}
    <h1>Start</h1>
        {{ time }}
        <a href="{{ path('app_scanner', {'id': id}) }}">scanner</a>
{% endblock %}