<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 animated hiding" data-animation="fadeInUp">
                <ul class="social list-inline">
                    <li class="list-inline-item">
                        <a class="facebook" href="http://www.facebook.com" title="doc tecnique">
                            <i class="fa fa-file-pdf-o fa-2x"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="twitter" href="https://github.com/ClementNog/crossPetio/tree/master" title="Git Hub">
                            <i class="fa fa-github fa-2x"></i>
                        </a>
                    </li>
                    </li>
                    <li class="list-inline-item">
                        <a class="dribbble" href="https://www.ecoledirecte.com/login?cameFrom=%2FAccueil" title="Dribbble">
                            <i class="fa fa-dribbble fa-2x"></i>
                        </a>
                    </li>
                </ul>
                <p class="copyright">
                    Created by <a href="http://halibegic.info">halibegic</a> &middot; Code licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License v2.0</a> &middot; Based on <a href="http://getbootstrap.com/">Bootstrap v4</a> &middot; Icons by <a href="http://fontawesome.io/">Font Awesome</a> &middot;
                    <a href="http://www.github.com/halibegic/merlin">GitHub</a> &middot;
                    <a href="http://steamcommunity.com/id/halibegic">Buy Me a Game</a>
                </p>
            </div>
        </div>
    </div>
</footer>
